.nav{
    width: 1024px;
    background-color: #7ec3ff;
}
.navList{
    display: flex;
    margin-top: -12px;
    box-sizing: border-box;
    padding: 16px 16px 4px 16px ;
}
.navList__item{
    padding: 6px 12px;
    position: relative;
}
.navList__itemLink{
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    /* color: #676767; */
    animation: textViewNo  500ms 1 ease-in-out forwards;
}
.navList__itemList{
    /* display: none; */
    /* opacity: 0; */
    position: absolute;
    top: 24px;
    left: 10px;
    background-color: #7ec3ff;
    padding: 6px 18px 12px 12px;
    flex-direction: column;
    box-shadow: 2px 2px 4px -3px black;

    animation: viewNo  500ms 1 ease-in-out forwards;
}
.navList__item:hover>.navList__itemLink{
    animation: textViewYes  500ms 1 ease-in-out forwards;
    text-decoration: underline;
}
.navList__item:hover>.navList__itemList{
    display: flex;
    opacity: 1;
    
    animation: viewYes  500ms 1 ease-in-out forwards;
}
/* .navList__itemList:hover{
    display: flex;
    opacity: 1;
} */
.navList__itemListItem{
    margin-bottom: 6px;
}
.navList__itemListItem:last-child{
    margin-bottom: 0;
}
.navList__itemListItemLink{
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    text-transform: lowercase;
    color: #676767;
}
.navList__itemListItem:hover>.navList__itemListItemLink{
    color: #304071;
    text-decoration: underline;
}

@keyframes viewYes {
    from {
        opacity: 0;
        display: none;
    }
    1%{
        opacity: 0.01;
        display: flex;
    }
    to {
        opacity: 1;
        display: flex;
    }
}
@keyframes viewNo {
    from {
        opacity: 1;
        display: flex;
    }
    99%{
        opacity: 0.01;
        display: flex;
    }
    to {
        opacity: 0;
        display: none;
    }
}

@keyframes textViewYes {
    from {
        color: #676767;
    }
    to {
        color: #304071;
    }
}
@keyframes textViewNo {
    from {
        color: #304071;
    }
    to {
        color: #676767;
    }
}

